.botaoBranco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 2rem;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-family: "Source Code Pro", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.botaoBranco:hover{
    background-color: black;
    color: white;

}